@model IEnumerable<FavoriteMovie>

@{
    ViewData["Title"] = "Favorite Movies";
}

<div class=" sm:px-8 px-2 py-3">
    <h1 class="text-3xl text-zinc-300">Favorite Movies</h1>
    <div class="grid grid-cols-3 gap-x-3 gap-y-5 sm:grid-cols-5 md:grid-cols-6 py-4">
        @foreach (var item in Model)
        {

            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="mb-2">
                        <form asp-controller="FavoriteMovies" asp-action="Remove" asp-route-movieId="@item.MovieId">
                            <button type="submit" style="z-index: 1;"
                            class="absolute top-[170px] left-8 px-1.5 py-1.5
                        text-red-600 font-medium text-2xl leading-tight
                        rounded hover:text-red-700 focus:text-red-700 focus:shadow-lg
                        focus:outline-none focus:ring-0 active:text-red-800 transition duration-150 ease-in-out">
                                <i class="fa-solid fa-square-minus"></i>
                            </button>
                        </form>
                    </div>
                }
                <div class="mb-1">

                    <a class="cursor-pointer hover:scale-100 jt" asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId" rel="/Movie/ClueTip?id=@item.MovieId">
                        <div class="relative w-full rounded-none transition-all">

                            <div class="absolute uppercase top-2 right-1.5 px-0 py-4 text-white font-semibold z-4 text-sm" id="quality">
                                @item.Movie.Quality
                            </div>

                            <img class="bg-cover w-full inline-block" src="@item.Movie.MoviePicture" />
                        </div>
                    </a>
                    <div class="bg-[#1c1f26] p-2">
                        <a asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId" class="text-slate-300" title="@item.Movie.Name">
                            <h4 class="truncate text-sm mt-3">@item.Movie.Name</h4>
                        </a>
                        <p class="text-blue-200 text-xs">@item.Movie.DateOfRelease.ToString("dd MMMM yyyy")</p>
                        <div class="px-4 py-1 bg-[#21242b] text-center mt-3 rounded">
                            <a class="text-slate-300" asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId"><i class="fa-solid fa-play mr-3"></i>Play</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<partial name="_Pagination" />*@
</div>