@model IEnumerable<Movie>;

@{
    ViewData["Title"] = "Movies";
}

<style type="text/css">
    
    .swiper {
        margin-top: -88px;
    }

    .swiper-pagination {
        position: relative;
        z-index: 1;
        margin-top: -50px;
        margin-bottom: 45px;
    }

    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        background-color: red;
    }

    @@media (width < 830px) {
        .dropdowns {
            z-index: 10;
        }

        .burger {
            z-index: 20;
        }

        .swiper {
            z-index: -10;
        }
    }

    @@media (width > 830px) {
        .navbarC {
            background-color: rgba(25, 25, 28, 0.7);
            backdrop-filter: blur(2px);
        }
    }
</style>

<div>
    <div class="mb-2">

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var item in ViewBag.SliderContent)
                {
                    <div class="swiper-slide">
                        <img class="object-cover object-top h-[38rem] w-full"
                         src="@item.Picture"
                         alt="image" />
                        <div class="absolute top-0 bg-neutral-900 opacity-50 w-full h-full"></div>
                        <div class="absolute top-0 w-full h-full d-grid grid-rows-4">
                            <div class="relative top-48 sm:top-64 left-8 text-zinc-300 text-4xl pr-10">
                                <h1>@item.Name</h1>
                            </div>
                            <div class="flex relative top-56 sm:top-72 left-8 text-zinc-200 text-md -mt-4 -mb-4 pr-10">
                                <h3 class="inline-block py-1.5 px-2.5 leading-none
                                            text-center whitespace-nowrap align-baseline font-bold
                                            bg-black opacity-50 text-white rounded uppercase mr-2">
                                    @item.Quality
                                </h3>
                                <h3 class="align-baseline mt-0.5">
                                    @item.Duration min
                                </h3>
                            </div>
                            <div class="relative top-64 sm:top-80 left-8 bottom-20 text-zinc-200 sm:w-2/5 md:w-2/5 pr-10">
                                <h5 class="sm:h-auto" style="
                                                    display: -webkit-box;
                                                    -webkit-line-clamp: 5;
                                                    -webkit-box-orient: vertical;
                                                    overflow: hidden;">
                                    @item.Description
                                </h5>
                            </div>
                            <div class="relative top-72 sm:top-[21rem] left-8">
                                <a class="inline-block text-center px-4 py-[8px] border border-[#006db0] text-[#006db0] font-medium text-sm leading-tight rounded hover:bg-[#006db0] hover:text-zinc-300 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" asp-controller="Movie" asp-action="Details">
                                    <i class="fa-solid fa-play mr-1"></i>
                                    Play
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="swiper-pagination"></div>

    </div>

    <div class="grid grid-cols-3 gap-x-3 gap-y-5 sm:px-8 px-2 py-3 sm:grid-cols-5 md:grid-cols-6">
        @foreach (var item in Model)
        {

            <div>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Editor") || User.IsInRole("Admin")))
                {
                    <div class="mb-2">
                        <a class="px-1.5 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mr-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                        <a class="px-1.5 py-1.5 bg-red-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </div>
                }
                <div class="mb-1">

                    <a class="cursor-pointer hover:scale-100 jt" asp-action="Details" asp-route-id="@item.Id" rel="/Movie/ClueTip?id=@item.Id">
                        <div class="relative w-full rounded-none transition-all">
                            <span class="play">

                            </span>
                            <div class="absolute uppercase top-2 right-1.5 px-0 py-4 text-white font-semibold z-4 text-sm" id="quality">
                                @item.Quality
                            </div>
                            @*<div class="absolute top-6 right-0.5 z-4 px-1 py-4 text-white font-semibold text-sm">
                                7.8
                                </div>*@
                            <img class="bg-cover w-full inline-block" src="@item.MoviePicture" />
                        </div>
                    </a>
                    <div class="bg-[#1c1f26] p-2">
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-slate-300" title="@item.Name">
                            <h4 class="truncate text-sm mt-3">@Html.DisplayFor(modelItem => item.Name)</h4>
                        </a>
                        <p class="text-blue-200 text-xs">@item.DateOfRelease.ToString("dd MMMM yyyy")</p>
                        <div class="px-4 py-1 bg-[#21242b] text-center mt-3 rounded">
                            <a class="text-slate-300" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-play mr-3"></i>Play</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <partial name="_Pagination" />
</div>
@if (User.Identity.IsAuthenticated && (User.IsInRole("Editor") || User.IsInRole("Admin")))
{

    <a title="Add" asp-action="Create"
   class="fixed z-90 bottom-10 left-8 px-4 py-2.5 bg-blue-600 rounded-full text-white hover:bg-blue-700 duration-300"><i class="fa-solid fa-plus text-sm"></i></a>
}