@model IEnumerable<Movie>;
   
@{
    ViewData["Title"] = "Movies";
}
<div class="grid grid-cols-3 gap-x-3 gap-y-5 sm:px-8 px-2 py-3 sm:grid-cols-5 md:grid-cols-6">
    @foreach (var item in Model)
    {
        <div>
            <div class="mb-2">
                <a class="px-1.5 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mr-2" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                <a class="px-1.5 py-1.5 bg-red-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </div>
            <div class="mb-1">

                <a class="cursor-pointer" asp-action="Details" asp-route-id="@item.Id">
                    <div class="relative w-full rounded-none transition-all">
                        <span class="play">

                        </span>
                        <div class="absolute uppercase top-2 right-1.5 px-0 py-4 text-white font-semibold z-4 text-sm">
                            Hd
                        </div>
                        <div class="absolute top-6 right-0.5 z-4 px-1 py-4 text-white font-semibold text-sm">
                            7.8
                        </div>
                        <img class="bg-cover w-full inline-block" src="#" />
                    </div>
                </a>
                <div>
                    <a href="#" class="text-white" title="@item.Name">
                        <h4 class="truncate text-sm mt-3">@Html.DisplayFor(modelItem => item.Name)</h4>
                    </a>
                    <p class="text-blue-200 text-xs">@item.DateOfRelease.ToString("dd MMMM yyyy")</p>
                </div>

            </div>
        </div>
    }
</div>

<a title="Add" asp-action="Create"
   class="fixed z-90 bottom-10 left-8 px-4 py-2.5 bg-blue-600 rounded-full text-white hover:bg-blue-700 duration-300"><i class="fa-solid fa-plus text-sm"></i></a>
