@model TEpisodes;

@{
    ViewData["Title"] = @Model.Episode + " " + @Model.Season.Season;
}

<div class="flex flex-col">
    <div class="mx-auto">
        <iframe style="width:85vw; height:75vh;" src="@Model.EpisodeUrl"
                title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>

    <div class="grid grid-rows-auto grid-cols-1 justify-items-center p-6">
        <div class="tabs">

            <div>
                <select id="mySelect" class="bg-transparent border-0 border-b-2 cursor-pointer text-zinc-300 text-base focus:ring-0">
                    @foreach (var item in ViewBag.Seasons)
                    {
                        <option class="bg-[#17191f] border-0 border-b-2 mb-1" value="@item.Id">@item.Season</option>
                    }
                </select>
            </div>

            <div class="tab-content-wrapper">
                @foreach (var item in ViewBag.Seasons)
                {
                    <div id="div_@item.Id" class="myDiv" style="display:none">
                        @foreach (var i in item.Episodes)
                        {
                                <a asp-controller="Episode" asp-action="Details" asp-route-id="@i.Id" id="a_@item.Id" class="myA">
                                    <i class="fa-solid fa-play mr-1"></i>
                                    @i.Episode
                                </a>
                        }
                    </div>
                }
            </div>

        </div>
        <div class="flex justify-center flex-col sm:flex-row py-10">
            <div>
                <img class="w-[11rem] sm:w-[17rem] flex justify-center" src="@Model.Season.SeasonPoster" />
            </div>
            <div class="p-4 sm:w-1/3">
                <h1 class="text-slate-300 text-3xl">@Model.TvShow.Name</h1>
                <div>
                    <p class="text-xs text-slate-300 my-5">Description: </p>
                    <p class="text-sm text-slate-300" id="description">@Model.EpisodeDescription </p>
                </div>
                <div class="grid grid-cols-2 gap-5 mt-3">
                    <div>
                        <p class="text-slate-300 text-sm">
                            <strong>Producer: </strong>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.TvShow.ProducerId">@Model.TvShow.Producers.ProducersName</a>
                        </p>
                    </div>
                    <div class="text-slate-300 text-sm">
                        <p><strong>Genre: </strong></p>
                        @foreach (var c in Model.TvShow.TvShows_Categories)
                        {
                            <a asp-controller="Category" asp-action="Details" asp-route-id="@c.CategoryId">@c.Category.CategoryName </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>