@using Redeo.ViewModels;
@model MovieTvShowViewModel;

@{
	ViewData["Title"] = "Search";
}

<div class="grid grid-cols-3 gap-x-3 gap-y-5 sm:px-8 px-2 py-3 sm:grid-cols-5 md:grid-cols-6">

        @foreach (var movie in Model.Movie)
        {
            <div>
				@if(User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Editor")))
				{
					<div class="mb-2">
						<a class="px-1.5 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mr-2" asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id"><i class="fa-solid fa-pen"></i></a>
						<a class="px-1.5 py-1.5 bg-red-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id"><i class="fa-solid fa-trash"></i></a>
					</div>
				}
				
				<div class="mb-1">

					<a class="cursor-pointer hover:scale-100 jt" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" rel="/Movie/ClueTip?id=@movie.Id">
						<div class="relative w-full rounded-none transition-all">
							<span class="play">

							</span>
							<div class="absolute uppercase top-2 right-1.5 px-0 py-4 text-white font-semibold z-4 text-sm" id="quality">
								@movie.Quality
							</div>
							<img class="bg-cover w-full inline-block" src="@movie.MoviePicture" />
						</div>
					</a>
					<div class="bg-[#1c1f26] p-2">
						<a asp-action="Details" asp-route-id="@movie.Id" class="text-slate-300" title="@movie.Name">
							<h4 class="truncate text-sm mt-3">@Html.DisplayFor(modelItem => movie.Name)</h4>
						</a>
						<p class="text-blue-200 text-xs">@movie.DateOfRelease.ToString("dd MMMM yyyy")</p>
						<div class="px-4 py-1 bg-[#21242b] text-center mt-3 rounded">
							<a class="text-slate-300" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id"><i class="fa-solid fa-play mr-3"></i>Play</a>
						</div>
					</div>
				</div>
			</div>
        }
		@foreach (var tvShow in Model.TvShows)
        {
            <div>
				@if(User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Editor")))
				{
					<div class="mb-2">
						<a class="px-1.5 py-1.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mr-2" asp-controller="Movie" asp-action="Edit" asp-route-id="@tvShow.Id"><i class="fa-solid fa-pen"></i></a>
						<a class="px-1.5 py-1.5 bg-red-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out" asp-controller="Movie" asp-action="Delete" asp-route-id="@tvShow.Id"><i class="fa-solid fa-trash"></i></a>
					</div>
				}
				
				<div class="mb-1">

					<a class="cursor-pointer hover:scale-100 jt" asp-controller="Movie" asp-action="Details" asp-route-id="@tvShow.Id" rel="/TvShow/ClueTip?id=@tvShow.Id">
						<div class="relative w-full rounded-none transition-all">
							<span class="play">

							</span>
							<div class="absolute uppercase top-2 right-1.5 px-0 py-4 text-white font-semibold z-4 text-sm" id="quality">
								@tvShow.Quality
							</div>
							<img class="bg-cover w-full inline-block" src="@tvShow.TvShowPicture" />
						</div>
					</a>
					<div class="bg-[#1c1f26] p-2">
						<a asp-action="Details" asp-route-id="@tvShow.Id" class="text-slate-300" title="@tvShow.Name">
							<h4 class="truncate text-sm mt-3">@Html.DisplayFor(modelItem => tvShow.Name)</h4>
						</a>
						<p class="text-blue-200 text-xs">@tvShow.DateOfRelease.ToString("dd MMMM yyyy")</p>
						<div class="px-4 py-1 bg-[#21242b] text-center mt-3 rounded">
							<a class="text-slate-300" asp-controller="Movie" asp-action="Details" asp-route-id="@tvShow.Id"><i class="fa-solid fa-play mr-3"></i>Play</a>
						</div>
					</div>
				</div>
			</div>
        }
</div>